body {
  font-family: "Poppins", sans-serif;
  background: #f5f5f5;
  color: #333;
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
  background: #001c38;
  color: white;
  padding: 2rem 1rem;
  border-radius: 0 0 30px 30px;
}

.projects a {
  display:inline-block;
  background: #00162c;
  color: white;
  padding: 0.5rem 1rem;
  margin: 0;
  border-radius: 10px;
  text-decoration: none;
}

.projects a:hover {
  background: #0073e6;
}

footer {
  text-align: center;
  margin: 2rem 0;
  font-size: 0.9rem;
  color: #555;
}
.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
  width: 100%;
  max-width: 1200px;

}

.projects {
  background: #ffffff;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  padding: 1.5rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.projects:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(0,0,0,0.15);
}

.projects h3 {
  color: #1e90ff;
  margin-bottom: 0.5rem;
}

.projects p {
  font-size: 0.95rem;
  color: #555;
  margin-bottom: 1rem;
}