.header {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 40px;
    padding-right: 20px;
}


.title {
    position: absolute;
    left: 220px;
    top: 170px;
    font-size: 40px;
    margin-bottom: 30px;
    font-weight: bold;
    font-family: 'Georgia', serif;
    color: #46007b;
      animation: neon 2s ease-in-out infinite alternate;
    pointer-events: none;


}

label {
    font-size: 18px;
    display: block;
    margin-bottom: 6px;
    font-weight: bold;
    color: #46007b;
}

input[type=text],
input[type=number] {
    width: 100%;
    padding: 14px;
    margin-bottom: 25px;
    font-size: 16px;
    border-radius: 6px;
    border: 4px solid #500368;
    background: #fff;
    border-radius: 30px;
      animation: zoomfade 2s ease forwards;

}

.form {
    position: absolute;
    top: 250px;
    left: 450px;
    max-width: 900px;
    margin: auto;
}

.row {
    display: flex;
    gap: 40px;
    width: 100%;
}

.upload-box {
    border-radius: 6px;
    padding: 10px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.upload-box input[type=file] {
    border: none;
    width: 70%;
    font-size: 16px;
}

.add-btn {
    background: #46007b;
    padding: 14px 28px;
    color: white;
    border: none;
    font-size: 20px;
    border-radius: 8px;
    cursor: pointer;
    display: block;
    margin-top: 20px;
}
@keyframes zoomfade {
    0% {
        opacity: 0;
        transform: scale(0.7);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes neon {
    from { text-shadow: 0 0 10px #4a0075; }
    to { text-shadow: 0 0 40px #4a0075; }
}