.welcome {
    margin-top: 0px;
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
    font-family: 'Georgia' serif;
    font-size: 60px;
    color: rgb(74, 0, 117);
    font-weight: bold;
   animation: bounce 2s infinite ease-in-out;
      pointer-events: none;
}


@keyframes bounce {
    0%,100% { transform: translateY(0); }
    50% { transform: translateY(-18px); }
}

