h1 {
    color:#46007b;
    font-size: 50px;
    position: absolute;
    top: 100px;
    left: 60px;
    font-family: 'Georgia', serif;
      animation: neon 2s ease-in-out infinite alternate;
    pointer-events: none;

}

#barcode {
    border: 2px solid #500368;
    border-radius: 10px;
    color:black;
    position: absolute;
    top: 300px;
    left: 240px;
    width: 450px;
    transform: scale(2);
    margin-left: 50px;
    
}

#text {
    color:#46007b;
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    top: 250px;
    left: 60px;
    font-family: 'Georgia', serif;
      animation: zoomfade 2s ease forwards;
     pointer-events: none;

}

#sell {
    background-color: #46007b;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    font-weight: bold;
    font-family: Arial, sans-serif;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    position: absolute;
    top: 390px;
    left: 700px;
     
}
@keyframes zoomfade {
    0% {
        opacity: 0;
        transform: scale(0.7);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes neon {
    from { text-shadow: 0 0 10px #4a0075; }
    to { text-shadow: 0 0 40px #4a0075; }
}

