body {

    background: linear-gradient(45deg, #9ce4fe, #bf67ff);
        animation: fadeIn 0.6s ease forwards;

}

#logout {
    background-color: #00b9c6;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Georgia',Serif;
    border-radius: 5px;
    text-decoration: none;
    /* For use on <a> tags btshil el khat mn taht el links */
    display: inline-block;
    position: absolute;
    right: 20px;
}

#logout:hover {
    background-color: red;
}

#home {
    background-color: #46007b;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Georgia',Serif;
    border-radius: 5px;
    text-decoration: none;
    /* For use on <a> tags btshil el khat mn taht el links */
    display: inline-block;
    position: absolute;
    right: 559px;
}

#home:hover {
    background-color: #00b9c6;
}

#dashboard {
    background-color: #46007b;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Georgia',Serif;
    border-radius: 5px;
    text-decoration: none;
    /* For use on <a> tags btshil el khat mn taht el links */
    display: inline-block;
    position: absolute;
    right: 420px;
}

#dashboard:hover {
    background-color: #00b9c6;
}

#addproduct {
    background-color: #46007b;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Georgia',Serif;
    border-radius: 5px;
    text-decoration: none;
    /* For use on <a> tags btshil el khat mn taht el links */
    display: inline-block;
    position: absolute;
    right: 270px;
}

#addproduct:hover {
    background-color: #00b9c6;
}

#sellproduct {
    background-color: #46007b;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Georgia',Serif;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    position: absolute;
    right: 125px;
}

#sellproduct:hover {
    background-color: #00b9c6;
}




#p1 {
    color: #46007b;
    font-size: 20px;
    position: absolute;
    top: 1px;
    left: 60px;
    font-family: 'Georgia',Serif;
    font-weight: bold; 
}

#logo {
    position: absolute;
    left: 590px;
    width: 300px;
    height: auto;
    border-radius: 30px;
     animation: fadeIn 2s ease forwards;
    pointer-events: none;

}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}